:root{
    --orange-color: #da722c;
    --dark-blue-color: #023047;
    --dark-color: #070917;
    --light-color: #E8F7FB;
    --light-blue-color: #6F7DFB;
}

*,
*::after,
*::before{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

.wrapper{
    max-width: 1134px;
    margin: auto;
}

/* Buttons */
.btn{
    padding: 16px 32px;
    border-radius: 24px;
    color: #fff;
    display: inline-block;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    position: relative;
}

.btn.dark{
    background: var(--dark-blue-color);
}
.btn.light{
    background: var(--orange-color);
}

.btn.enrol-icon::before{
    content: url('/images/pencil-art.svg');
    position: absolute;
    top: 50%;
    left: 32px;
    transform: translateY(-50%);

}

.btn.enrol-icon{
    padding-left: 60px;
}

/* Header */

header{
    background: linear-gradient(180deg, #6F7DFB 0%, #26308c 100%);
    height: 100vh;
    width: 100%;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 36px;
    width: 1134px;
    z-index: 100;
}

nav .logo{
    font-family: "Raleway", sans-serif;
    font-weight: 900;
    font-size: 40px;
    color: #ffffff;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 60px;
    list-style: none;
}
nav ul li a{
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    color: #fff;
}
/* Hero Section */

.hero-section{
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding-top: 60px;
}
.hero-section .left h1{
    font-family: "Raleway", sans-serif;
    font-weight: 900;
    font-size: 50px;
    line-height: 125%;
    color: #ffffff;
    margin-bottom: 0;
}

.hero-section .left p{
    font-family: "Poppins", sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 200%;
    color: #ffffff;
    margin-bottom: 30px;
    width: 457px;
}

.hero-section .left{
 flex: 1;
}

.hero-section .right img{
    height: 520px;
    vertical-align: middle;
}
.hero-section .right{
    align-self: flex-end;
  
}
/* Achievement cards */


.achievement-card {
    position: absolute;
    min-width: 200px;
}

.achievement-card .content{
    border-radius: 24px;
    background: #fff;
    padding: 8px 32px;
    z-index: 10;
    position: relative;
}

.achievement-card.students-enrolled{
    left: 49%;
    top: 270px;
}
.achievement-card.overall-rating{
    left: 47%;
    top: 470px;   
}
.achievement-card.overall-rating.content p{
    margin-top: 10px;
}



.achievement-card .content div{

}

.achievement-card h3{
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    color: var(--dark-blue-color);
    margin: 0;
    text-align: center;
    width: 100%;
}

.achievement-card p{
    font-family: "Poppins", sans-serif;
    font-weight: normal;
    font-size: 16px;
    color: var(--dark-blue-color);
    margin-top: -8px;
    margin-bottom: 8px;
}

.achievement-card .bg{
    position: absolute;
    height: 100%;
    width: 100%;
    background: linear-gradient(180deg, #6f7dfb 0%, #3b448f 100%);
    border-radius: 24px;
    top: 8px;
    left: 8px;
    z-index: 1;
}

.overall-rating .rate{
    display: flex;
}

/* Testimonials Sections */

